





/*

.footer {
	background-color: #f04134;
	height: 500px; 
}

.footer-logo{
	margin-top: -53px
}

.yellow-footer-cta{
    background-image: url(/Images/footer/footer-cta-bg1.png),url(/Images/footer/footer-cta-bg2.png),url(/Images/footer/footer-cta-bg3.png)
  }
  
  .p-belowLogo{
    font-size: 12px; 
    margin-right: 15px;
  }
  
 
  .yellow-para{
    color: rgba(74,66,68,.5);
  }
  .questions-heading{
    // color: #4a4244;
    
  }

  .footer-logo{

  }
  */