.ulalign{
    text-align: left;
}

.footer-logo-p{
    font-size: 12px;
    line-height: 30px;
    margin-left: 10px;
    color: #333; 
}
.white-footer-link{
    color: #fff;  
    list-style-type: none;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 22px;
  }
  .white-footer-link:hover{
    color: #fff; 
    list-style-type: none;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
  }