.ulalign{
    text-align: left;
}

.footer-logo-p{
    font-size: 12px;
    line-height: 30px;
    margin-left: 10px;
    color: #333; 
}
.white-footer-link{
    color: #fff;  
    list-style-type: none;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 22px;
  }
  .white-footer-link:hover{
    color: #fff; 
    list-style-type: none;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
  }

  /* new  */





.faq-header{
  font-size: 45px;
  font-weight: 700;
  line-height: 80px;
  margin-top: -17px; 
  font-weight: bolder;
  color: white;
  padding: 15px;  
}
.quote{
font-size: 25px;
color: #505050; 
font-weight: bold;
margin-bottom: 20px; 
}
.left-faq{
padding-left: 94px; 
padding-right: 104px; 

}
.right-faq{
background: #f8f8f8; 
// max-height: 930px;
max-height: 100%; 
}
.right-faq-h1{
font-size: 32px;
font-weight: 700;
margin-top: 50px;
color: #4a4244;
line-height: 42px;
}
.quote-p{
text-align: left;
color: #7a6f71; 
font-size: 24px;
font-weight: 400;
line-height: 36px;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,800);

.content {
width: 80%;
padding: 20px;
margin: 0 auto;
padding: 0 60px 0 0;
}

.centerplease {
margin: 0 auto;
max-width: 270px;
font-size: 40px;
}

.question {
// position: relative;
// // background: #8FBC8F;
// margin: 0;
// padding: 10px 10px 10px 50px;
// display: block;
// width:100%;
// cursor: pointer;

color: #4a4244;
padding-left: 0!important;
padding-right: 50px!important;
font-size: 24px;
font-weight: 700;
line-height: 36px;
}

/* ======== accordian START ================================================================== */

.answers {
// background: #999;
font-weight: 300;
font-size: 18px;
line-height: 34px;
color: #7a6f71;

padding: 0px 15px;
margin: 5px 0;
height: 0;
overflow: hidden;
z-index: -1;
position: relative;
opacity: 0;
-webkit-transition: .7s ease;
-moz-transition: .7s ease;
-o-transition: .7s ease;
transition: .7s ease;
}

.questions:checked ~ .answers{
height: auto;
opacity: 1;
padding: 15px;
}

.plus {
position: absolute;
margin-left: -36px;
// margin-left: 536px; 
margin-top: 11px;
color:#f04134; 
z-index: 5;
font-size: 2em;
line-height: 100%;
-webkit-user-select: none;    
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
-webkit-transition: .3s ease;
-moz-transition: .3s ease;
-o-transition: .3s ease;
transition: .3s ease;
}

.questions:checked ~ .plus {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}

.questions {
display: none;
}

/* ======== accordian END ================================================================== */

